PC CAFFE/Web References/pc1/konektor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostaviSlike">
        <s:complexType />
      </s:element>
      <s:element name="PostaviSlikeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostaviSlikeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostaviSlikeCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id_dobavljac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostaviSlikeCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostaviSlikeCredentialsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebUrl">
        <s:complexType />
      </s:element>
      <s:element name="WebUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BazaExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BazaExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BazaExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="table_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatasetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatasetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PostaviSlikeSoapIn">
    <wsdl:part name="parameters" element="tns:PostaviSlike" />
  </wsdl:message>
  <wsdl:message name="PostaviSlikeSoapOut">
    <wsdl:part name="parameters" element="tns:PostaviSlikeResponse" />
  </wsdl:message>
  <wsdl:message name="PostaviSlikeCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:PostaviSlikeCredentials" />
  </wsdl:message>
  <wsdl:message name="PostaviSlikeCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:PostaviSlikeCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="WebUrlSoapIn">
    <wsdl:part name="parameters" element="tns:WebUrl" />
  </wsdl:message>
  <wsdl:message name="WebUrlSoapOut">
    <wsdl:part name="parameters" element="tns:WebUrlResponse" />
  </wsdl:message>
  <wsdl:message name="BazaExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:BazaExecute" />
  </wsdl:message>
  <wsdl:message name="BazaExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:BazaExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="GetDatasetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataset" />
  </wsdl:message>
  <wsdl:message name="GetDatasetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatasetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="konektorSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostaviSlike">
      <wsdl:input message="tns:PostaviSlikeSoapIn" />
      <wsdl:output message="tns:PostaviSlikeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostaviSlikeCredentials">
      <wsdl:input message="tns:PostaviSlikeCredentialsSoapIn" />
      <wsdl:output message="tns:PostaviSlikeCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebUrl">
      <wsdl:input message="tns:WebUrlSoapIn" />
      <wsdl:output message="tns:WebUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BazaExecute">
      <wsdl:input message="tns:BazaExecuteSoapIn" />
      <wsdl:output message="tns:BazaExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataset">
      <wsdl:input message="tns:GetDatasetSoapIn" />
      <wsdl:output message="tns:GetDatasetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="konektorSoap" type="tns:konektorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostaviSlike">
      <soap:operation soapAction="http://tempuri.org/PostaviSlike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostaviSlikeCredentials">
      <soap:operation soapAction="http://tempuri.org/PostaviSlikeCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebUrl">
      <soap:operation soapAction="http://tempuri.org/WebUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BazaExecute">
      <soap:operation soapAction="http://tempuri.org/BazaExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataset">
      <soap:operation soapAction="http://tempuri.org/GetDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="konektorSoap12" type="tns:konektorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostaviSlike">
      <soap12:operation soapAction="http://tempuri.org/PostaviSlike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostaviSlikeCredentials">
      <soap12:operation soapAction="http://tempuri.org/PostaviSlikeCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebUrl">
      <soap12:operation soapAction="http://tempuri.org/WebUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BazaExecute">
      <soap12:operation soapAction="http://tempuri.org/BazaExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataset">
      <soap12:operation soapAction="http://tempuri.org/GetDataset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="konektor">
    <wsdl:port name="konektorSoap" binding="tns:konektorSoap">
      <soap:address location="http://pc1.hr/konektor.asmx" />
    </wsdl:port>
    <wsdl:port name="konektorSoap12" binding="tns:konektorSoap12">
      <soap12:address location="http://pc1.hr/konektor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>